 p{
    color:blue;
    background :brown;
    text-align: center;
    padding: 20px;

    
}
.color{
    color:green;
    background-color: blueviolet;
}
body{
    background-color:darkgreen;
}
#l1{
    color:aqua;
     font-size: 50px ;
} 
div{
    height: 300px;
    width: 300px;
    background-color:greenyellow;
    border: 3px double brown;
    padding: 10px;
     margin-left: 150 px;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 #box1{
    height: 400px;
    width: 400px;
    background-color:greenyellow;
    border: 2px solid blue;
    padding: 10px;
     margin-left: 50 px;

 }
 #box2{
    height: 300px;
    width: 200px;
    background-color:palevioletred;
    border: 6px solid orange ;
    padding: 15px;
     margin-left: 40 px;

 }
 #box3{
    height: 600px;
    width: 300px;
    background-color:mediumpurple;
    border: 4px solid yellow;
    padding: 20px;
     margin-left: 60 px ;

 }
 #box4{
    height: 300px;
    width: 500px;
    background-color:goldenrod;
    border: 5px solid black;
    padding: 25px;
     margin-left: 20 px;

 }